/* --------------------------
Reset default margin & padding
-------------------------- */
* {
  margin: 0;
  padding: 0;
}

/* --------------------------
Common Styles or Utilities
-------------------------- */
body {
  font-family: "Poppins", sans-serif;
}
.container {
  margin: 100px 195px;
}

/* --------------------------
Header & Navbar
-------------------------- */
header {
  margin: 75px 120px;
}
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navbar .logo h3 {
  font-size: 24px;
  font-weight: 700;
  line-height: 36px;
}
.nav-items ul {
  display: flex;
  list-style: none;
}
.nav-items ul li a {
  text-decoration: none;
  margin-left: 34px;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  color: #3a3a3a;
  transition: 0.1s;
}
.nav-items ul li a:hover {
  color: #e02c6d;
}

/* --------------------------
Banner & Title
-------------------------- */
.banner {
  margin: 80px 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  justify-items: center;
}
.banner-title {
  font-size: 52px;
  font-weight: 700;
  line-height: 70px;
  color: #3a3a3a;
}
.banner-desc {
  margin: 16px 0;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  color: #3a3a3a;
}
.banner-btn {
  display: inline-flex;
  align-items: center;
  padding: 10px 24px;
  background: #e02c6d;
  border-radius: 41px;
  text-decoration: none;
  font-size: 16px;
  color: white;
  font-weight: 700px;
  border: 2px solid #e02c6d;
  cursor: pointer;
  transition: 0.4s;
}
.banner-btn:hover {
  border: 2px solid #e02c6d;
  color: #e02c6d;
  background-color: transparent;
}
.banner-right img {
  transition: transform 0.5s ease;
}
.banner-right img:hover {
  transform: scale(1.2);
}

/* --------------------------
All Brand list
-------------------------- */
header hr {
  height: 1px;
  background: linear-gradient(
    90deg,
    rgba(192, 204, 218, 0.1) 0%,
    rgba(192, 204, 218, 0.6) 50.38%,
    rgba(192, 204, 218, 0.1) 100%
  );
}
.all-brands {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.brand {
  margin: 20px 30px 20px 30px;
}

/* --------------------------
Popular Collection
-------------------------- */
.popular-collection-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 30px;
}
.popular-collection-title h2 {
  font-size: 28px;
  font-weight: 600;
  line-height: 70px;
  color: #3a3a3a;
}
.popular-products {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 3;
  grid-column-gap: 30px;
  grid-row-gap: 30px;
}
.product {
  box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
  border-radius: 5px;
  padding: 17px;
  transition: 0.3s;
}
.product:hover {
  box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.3);
}
.product-cover {
  width: 100%;
}
.product-title {
  font-size: 28px;
  font-weight: 500;
  line-height: 40px;
  color: #18191f;
  margin-top: 12px;
}
.product-price {
  font-weight: 400;
  font-size: 24px;
  line-height: 150%;
  color: rgba(0, 0, 0, 0.87);
  margin: 6px 0;
}
.product-rating {
  font-size: 16px;
  color: #fb8200;
}
.product-rating span {
  font-weight: 600;
  font-size: 14px;
  line-height: 22px;
  color: #5e6366;
  margin-left: 8px;
}
.product-info {
  font-weight: 500;
  font-size: 14px;
  line-height: 143%;
  color: #787885;
}
.see-more-btn {
  margin-top: 50px;
  display: flex;
  justify-content: flex-end;
}
.see-more-btn a {
  display: inline-flex;
  align-items: center;
  color: #e02c6d;
  text-decoration: none;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
}

/* --------------------------
Bonus Part
-------------------------- */
.bonus-part {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  justify-items: center;
}
.bonus-left-side h1 {
  font-size: 32px;
  color: #3a3a3a;
}
.bonus-left-side p {
  margin: 16px 0;
  color: #3a3a3a;
}
.bonus-btn {
  display: inline-flex;
  align-items: center;
  padding: 10px 24px;
  background: #e02c6d;
  border-radius: 41px;
  text-decoration: none;
  color: white;
  font-weight: 700px;
  border: 2px solid #e02c6d;
  cursor: pointer;
  transition: 0.4s;
}
.bonus-btn:hover {
  border: 2px solid #e02c6d;
  color: #e02c6d;
  background-color: transparent;
}
.bonus-right-side img {
  width: 100%;
}

/* --------------------------
Footer
-------------------------- */
footer {
  height: 250px;
  background-color: #0a0826;
  color: white;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
}
footer h3 {
  font-weight: 700;
  font-size: 24px;
  line-height: 36px;
}
footer p {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  margin: 3px 0;
}
.social-icon .fab {
  padding: 12px;
  font-size: 20px;
  width: 20px;
  height: 20px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
  background: #22213c;
  color: white;
  margin: 17px 8px;
  transition: 0.4s;
}
.social-icon .fab:hover {
  background-color: white;
  color: #e02c6d;
}

/* --------------------------
Responsive with media-query
-------------------------- */
/* Mobile Devices */
@media screen and (max-width: 688px) {
  .container {
    margin: 20px;
  }
  header {
    margin: 20px;
  }
  .navbar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
  }
  .navbar .logo h3 {
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
  }
  .nav-items ul {
    display: flex;
    list-style: none;
    flex-direction: column;
    align-items: center;
  }
  .nav-items ul li a {
    font-size: 14px;
    font-weight: 500;
  }
  .banner {
    margin: 80px 0;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    align-items: center;
    justify-items: center;
  }
  .banner-title {
    font-size: 28px;
    font-weight: 700;
    line-height: 42px;
    color: #3a3a3a;
  }
  .banner-desc {
    margin: 20px 0;
    font-size: 14px;
    font-weight: 600;
    line-height: 21px;
    color: #3a3a3a;
  }
  .banner-left {
    margin: 20px 0;
    text-align: center;
  }
  .banner-right img {
    width: 100%;
  }
  .all-brands {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  .brand {
    margin: 10px 10px;
  }
  .popular-collection-title {
    margin-top: 60px;
  }
  .popular-products {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: 9;
    grid-column-gap: 30px;
    grid-row-gap: 30px;
  }
  .bonus-part {
    margin: 70px 16px;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    align-items: center;
    justify-items: center;
  }
  .bonus-left-side h1 {
    font-size: 24px;
    color: #3a3a3a;
  }
  .bonus-left-side {
    text-align: center;
  }
}
/* Tablet Devices */
@media screen and (min-width: 689px) and (max-width: 992px) {
  .container {
    margin: 30px;
  }
  header {
    margin: 20px;
  }
  .nav-items ul li a {
    margin-left: 20px;
  }
  .banner {
    margin: 80px 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    justify-items: center;
  }
  .banner-title {
    font-size: 28px;
    font-weight: 700;
    line-height: 42px;
    color: #3a3a3a;
  }
  .banner-desc {
    margin: 15px 0;
    font-size: 14px;
    font-weight: 600;
    line-height: 21px;
    color: #3a3a3a;
  }
  .all-brands {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  .brand {
    margin: 10px 10px;
  }
  .popular-products {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 30px;
    grid-row-gap: 30px;
  }
  .bonus-part {
    margin: 50px 16px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    justify-items: center;
  }
  .bonus-left-side h1 {
    font-size: 24px;
    color: #3a3a3a;
  }
}
