/* --------------------------
Reset default margin & padding
-------------------------- */
* {
  margin: 0;
  padding: 0;
}
/* --------------------------
Common Styles or Utilities
-------------------------- */
body {
  font-family: "Poppins", sans-serif;
}
/* --------------------------
Header & Navbar
-------------------------- */
header {
  margin: 87px 120px;
}
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navbar .logo h3 {
  font-size: 24px;
  font-weight: 700;
  line-height: 36px;
}
.nav-items ul {
  display: flex;
  list-style: none;
}
.nav-items ul li a {
  text-decoration: none;
  margin-left: 34px;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  color: #3a3a3a;
}
/* --------------------------
Banner & Title
-------------------------- */
.banner {
  margin: 80px 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  justify-items: center;
}
.banner-title {
  font-size: 52px;
  font-weight: 700;
  line-height: 70px;
  color: #3a3a3a;
}
.banner-desc {
  margin: 16px 0;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px x;
  color: #3a3a3a;
}
.banner-btn {
  display: inline-flex;
  align-items: center;
  padding: 10px 24px;
  background: #e02c6d;
  border-radius: 41px;
  text-decoration: none;
  font-size: 16px;
  color: white;
  font-weight: 700px;
}
header hr {
  height: 1px;
  background: linear-gradient(
    90deg,
    rgba(192, 204, 218, 0.1) 0%,
    rgba(192, 204, 218, 0.6) 50.38%,
    rgba(192, 204, 218, 0.1) 100%
  );
}
.other-brand {
  display: flex;
  align-items: center;
}
.brand {
  margin: 20px 0 20px 60px;
  /* margin-left: 60px; */
}
